@font-face {
    font-family: whyte-inktrap;
    src: url(whyteinktrap/WhyteInktrap-Light.woff);
}

body {
    background-color: white;
    font-family: whyte-inktrap;
}

a.navbar-brand{
    font-size: xx-large;
    font-family: "Roboto", sans-serif;
}

/* Default link style */
a {
    color: blue;
    text-decoration: none;
}

h1 {
    display: inline-block;
    font-size: xxx-large;
    margin-bottom: 20px;
    font-weight: 500;
    margin-top:20px;
    font-family: "Montserrat", sans-serif;
}

table.analysis_table{
    border: 0;
}

.analysis_table td{
    padding:5px;
}

.even{
    background-color: #cccccc;
}

a.black{
    color: black;
}

h2 {
    font-size: 28px;
    margin-top: 26px;
    margin-bottom: 14px;
    line-height: 1.3;
    font-family: "Roboto", sans-serif;
}

.sketch td {
    padding: 0.8em 0.8em;
    font-size: 24px;
    text-wrap: wrap;
}

.sketch tr {
    padding: 0.2em 0.5em;
    text-wrap: wrap;
}

.main {
    box-sizing: border-box;
}

.tile {
    background-color: #eeeeee;
    padding: 20px;
    display: inline-block;
    text-align: center;
    margin: 12px;
}

.tile .name {
    display: block;
    margin-top: 18px;
    width: 150px;   
}

.tile img {
    max-height: 200px;
    max-width: 200px;
    display: block;
}

.didge_image{
    float:right;
}

/** MOBILE CSS **/
@media (max-width: 800px) {
    .menu {
        float: none;
        text-align: center;
        padding: 10px 0;
    }

    .menu li {
        float: none;
        display: inline-block;
    }

    .menu li a {
        font-size: 18px;
        padding: 12px;
    }

    .header {
        height: auto; 
        text-align: center;
    }
 
    .content {
      display: block;
      justify-content: center;
      margin-top: 10px;
    }

    .tile {
        display: block; /* Stacks tiles vertically */
        width: auto;
        text-align: center;
        margin: 20px 10px;
        padding: 30px;
    }

    .tile img {
        max-width: 90%;
        max-height: auto;
    }

    html, body {
        font-size: 3.8vw;
    }

    h1 {
        margin-bottom: 4px;
    }

    h2 {
        margin-bottom: 4px; /* Reduce spacing */
    }
    
    code {
        font-size: 12px;
        margin: 8px;
        padding: 8px;
        width: 80%;
        height: auto;
        text-align: center;
        justify-content: center;
    }
  
    img {
        width: 100%;
        height: auto;
    }
}
